body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #FEFDFD;
    display: flex;
    align-items: stretch;
}

table, td, th {
    border: 1px solid #232323;
}

table {
    margin: 14px auto;
    padding: 7vh 0;
    border-collapse: collapse;
}

.font {
    font-family: 'Josefin Sans', sans-serif;
}

.default-cursor {
    cursor: default;
}

.center {
    text-align: center;
}

.button {
    border-radius: 500px;
    outline: none;
    margin: 0 auto;
    background-color: transparent;
}

.color {
    color: #FEFDFD;
    background-color: #1B19CD;
}

.border-color {
    border-color: #1B19CD;

}

.off-color {
    color: #7C7EFB;
}

.tooltip span {
    display: none;
}

.tooltip:hover {
    cursor: help;
    position: relative;
}

.tooltip:hover span {
    display: block;
    font-size: 0.8vw;
    padding: 6px;
    white-space: pre-wrap;
    width: 12vw;
    z-index: 100;
    background-color: #ededed;
    color: black;
    border-radius: 6px;
    left: 2vw;
    top: 4vw;
    position: absolute;

}




#current-day-info {
    width: 34%;
    min-height: 100vh;
}

#current-day-info #app-name-landscape {
    font-size: 6.2vh;
    padding: 9vh 0 1vh;
    border-bottom: 1px solid;
    margin: 0;
}

#current-day-info h2 {
    font-size: 6vh;
    font-weight: 300;
    margin: 0 0 3vh;
    padding-top: 3vh;
}

#current-day-info h1 {
    font-size: 6.8vh;
    font-weight: 400;
    margin: 4vh;
}

#current-day-info #theme-landscape {
    display: block;
    /* padding: 16px 38px; */
    padding: 1.8vh 4.2vh;
    color: #FEFDFD;
    border: 3px solid #FEFDFD;
    font-size: 2.4vh;
}

#current-day-info #theme-landscape:hover {
    background-color: white;
    opacity: 0.4;
    color: black;
}

#calendar {
    width: 66%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#calendar #app-name-portrait {
    display: none;
}

#calendar #theme-portrait {
    display: none;
}

#calendar thead tr:first-child th div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar h4 {
    margin: 0;
    padding: 0.8vh 0 0.2vh;
    font-size: 1.4vw;
    font-size: 300;
}

#calendar h3 {
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
    padding: 0 2vw;
    display: inline-block;
}

#calendar .weekday {
    font-size: 1.7vw;
    font-weight: 300;
    padding: 8px 0 5px;
    border-bottom: 1px solid white !important;
}

#calendar .icon {
    font-size: 1.2vw;
}

#calendar .icon:hover {
    opacity: 0.6;
}

#calendar tbody td {
    height: 5.2vw;
    width: 5.2vw;
    
    font-size: 0.8vw;
    font-weight: 600;
    vertical-align: top;
    padding: 0.5vw;
    transition: font-size .4s ease;
}

#calendar tbody td:hover {
    font-size: 1.2vw;
}

#calendar #current-day {
    background-color: #e1e1e1;
}

#calendar img {
    width: 3.8vw;
    vertical-align: top;
    position: relative;
    top: 0.5vw;
}

